// SPDX-License-Identifier: 0BSD
import QtQuick

GlyphWidget {
    designName: "Shutter bank"
    property int duration: {{s0Duration}}
    property int red: {{s1Red}}
    property bool motion: {{s2Motion}}
    transitionTime: duration
    emphasis: red
    animationEnabled: motion
}
