// SPDX-License-Identifier: 0BSD
import QtQuick

MatrixPlayer {
    property bool s0Artwork: {{s0Artwork}}
    property bool s1StrongFrames: {{s1StrongFrames}}

    artworkEnabled: s0Artwork
    strongFrames: s1StrongFrames
}
