// SPDX-License-Identifier: 0BSD
import QtQuick

GlyphWidget {
    designName: "Recursive relays"
    property int duration: {{duration}}
    property int red: {{red}}
    property bool motion: {{motion}}
    transitionTime: duration
    emphasis: red
    animationEnabled: motion
}
