// SPDX-License-Identifier: 0BSD
import QtQuick

ArtWidget {
    property bool grid: {{grid}}
    property string density: {{density}}
    property color accent: {{accent}}
    coordinateGrid: grid
    pointDetail: density
    accentColor: accent
}
